<h1>{{title}}</h1>
{{#if currentUser}}
  <a href="/sites/form">Add a new Site</a>
{{/if}}
<ul>
 {{#each sites}}
   <li><a href="/sites/show/{{this.id}}">{{this.id}} - {{this.siteName}} {{this.location}}</a> 
    <a href="/sites/edit?id={{this.id}}">Edit</a></li>
 {{/each}}
</ul>