<h1>{{site.siteName}}</h1>
{{#if site.volunteers}}
<p>Volunteers: {{#each site.volunteers}}{{this.firstName}} {{this.lastName}} -- {{this.roleName}} {{#unless @last}}, {{/unless}}{{/each}}</p>
{{/if}}
<p>
  Originally created on {{site.createdAt}} and open from {{site.hoursOp}}
</p>

{{#if currentUser}}
  {{#if assignment}}
    <button disabled>You already work here!</button>
  {{else}}
    <a href="/assignments/form?siteId={{siteId}}">
      <button>Register to work at this Site!</button>
    </a>
  {{/if}}
{{else}}
  <a href="/users/login">
    <button>Register to work at this Site!</button>
  </a>
{{/if}}