<h1>{{#if currentUser}} {{#if (eq currentUser.volunteerId site.volunteerId)}}<a href="/sites/edit?id={{siteId}}">{{site.siteName}}</a>{{/if}}
{{else}}
{{site.siteName}}
{{/if}}</h1>
<p>Status: {{#if site.siteStatus}}Active{{else}}Inactive{{/if}}</p>
{{#if site.volunteers}}
<p>Volunteers: <ul>
{{#each site.volunteers}}<li><a href="/volunteers/show/{{this.id}}">{{this.firstName}} {{this.lastName}}</a> - <a href="/roles/show/{{this.roleId}}">{{this.roleName}}</a> </li>{{/each}}</p>
</ul>
{{/if}}
<p>
  Originally created on {{dateStr site.createdAt}} and open from {{site.hoursOp}}
</p>

{{#if currentUser}}
  {{#if assignment}}
    <button disabled>You already work here!</button>
  {{else}}
    <a href="/assignments/form?siteId={{siteId}}">
      <button>Register to work at this Site!</button>
    </a>
  {{/if}}
{{else}}
  <a href="/users/login">
    <button>Register to work at this Site!</button>
  </a>
{{/if}}
<div>
  <h2>Notices</h2>
  <div>
    {{#if currentUser}}
      <form action="/notices/upsert" role="form" method="post">
        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <input type="hidden" name="siteId" value="{{siteId}}">
        <input type="hidden" name="volunteerId" value="{{currentUser.volunteerId}}">
        <div>
          <textarea rows="5" id="notice" name="notice">{{notice.notice}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">New notice</button>
      </form>
    {{/if}}
    {{#each notices}}
      <div>
        <p>
          {{this.notice}}<br>
          By {{this.userEmail}}
          {{#if (eq @root.currentUser.volunteerId this.volunteerId) }}
          <br><a href="/notices/edit?id={{this.id}}">Edit</a>
          {{/if}}
      </div>
    {{/each}}
  </div>
</div>