<form action="/roles/upsert" role="form" method="post">
<input type="hidden" name="_csrf" value="{{_csrfToken}}">
  <div><h1>Add a new Role</h1></div>
{{#if role}}
    <div>
      <h2>{{role.roleName}}</h2>
      <input type="hidden" name="id" value="{{role.id}}">
    </div>
{{/if}}
  <div>
    <label for="role_name">Role Title</label>
    <input type="text" id="role_name" name="roleName" {{#if role}}value="{{role.roleName}}"{{/if}}>
  </div>
  <div>
    <label for="description">Description</label>
    <input type="text" id="description" name="description" {{#if role}}value="{{role.description}}"{{/if}}>
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>