<h1>{{title}}</h1>
<a href="/volunteers/form">Add a new Volunteer</a>
<ul>
 {{#each volunteers}}
   <li>{{@index}} - {{this.firstName}} {{this.lastName}}
    <a href="/volunteers/edit?id={{@index}}">Edit</a>
 {{/each}}
</ul>
